[Desktop Entry]
Name=Upload site
Comment=
Exec=sh -c 'git add . && git commit -a -m Update && git push -f'
Path=/home/ly1un/Code/cv
Type=Application
Terminal=true

